body {
    max-width: 1024px;
}

header {
    background: blue;
    color: white;
    text-align: center;
}

footer {
    background: orange;
}

li {
    background: orchid;
}

.inicio {
    background: palegreen;
}

header nav ul li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 80px;
}

header nav ul li:hover{
    background: black;
    width: 100px;
    height: 80px;
}