/*
    box-shadow: h-offset v-offset blur spread color

    text-shadow: h offset v-offset blur color
*/

.caja{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    /*box-shadow: 10px 10px 100px 20px red, -10px -10px 0px 10px, 10px 10px pink inset;*/
    box-shadow: 0px 0px 0 10px red, -20px -10px 0 10px, 10px 10px pink inset;
}

.texto{
    font-size: 30px;
    color: transparent;
    text-shadow: 1px 1px 1px red, -1px -1px 1px red;
}